
#regForm{

	background: #d2dfed; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #d2dfed 0%, #c8d7eb 26%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 75%, #99b5db 88%, #799bc8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d2dfed), color-stop(26%,#c8d7eb), color-stop(51%,#bed0ea), color-stop(51%,#a6c0e3), color-stop(62%,#afc7e8), color-stop(75%,#bad0ef), color-stop(88%,#99b5db), color-stop(100%,#799bc8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* IE10+ */
	background: linear-gradient(135deg,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	border: 1px solid black;
	box-shadow: 3px 3px 3px 1px;
	
	margin: 0px 5% 0px 5%;
	width: 90%;
	
}

#regForm ul li{
 	list-style: none;
}

#regForm ul li label{

	font-size: 18px;
	float: left;
	height: 25px;
	margin-top: 4px;
	margin-right: 10px;
	text-align: left;
	width: 30%;
}

#submitButton{

	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
	background: linear-gradient(135deg,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	border-radius: 10px;
	display: block;
	font-size: 18px;
	height: 50px;
	margin-left: 25%;
	margin-top: 5%;
	text-align: center;
	width: 50%;
	clear: both;
}

#regForm ul li input:focus{
	 border:2px solid #d2dfed;
}

#regForm ul li .input{
    background-image: url('http://i.stack.imgur.com/pbpVI.png');
    background-repeat: repeat-x;
    border: 2px solid #777;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius:5px;
	
	-webkit-box-shadow:0px 0px 5px 2px black;
	-moz-box-shadow:
    box-shadow: 0px 0px 5px 2px black;
	
	
    font-size: 18px;
    float: left;
    height: 25px;
    margin-bottom: 25px;
    text-align:center;
    text-decoration: none;
    width:65%;
}

.sex{
	border:2px solid #777;
    border-radius: 100px;
    float: right;
    height: 15px;
    margin-bottom: 15px;
	width: 65%;
}

#checkboxes{
	margin: 0 auto;
}

.check{

	width: 30px;
	height: 30px;
	float: left;
	margin-right: 25px;
	margin-bottom: 15px;
	
}
